{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-warning">
                        <a href="{% url 'index' %}">Cancelar</a>
                    </button>
                {% endbuttons %}
        </form>
    </div>

{% endblock %}